<h1>Group 13 Cloud Server</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Group 13 Project 4 App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
