<% provide(:title, "Help") %>

  <h1>Help</h1>
    <p>
     For help, click below to see the user manual
     </p>
<a href="https://github.com/andrewmegaris/project3proto/blob/master/p4%20%26%20final%20docs/UserManual.pdf"> User manual</a>
